GITHUB_CLIENT_ID=Ov23liIlL3rFGlW4MqBa
GITHUB_CLIENT_SECRET=46b7fe6a3af90aca633430c96f9dc98b3dfed4c7
NEXTAUTH_SECRET=46b7fe6a3af90aca633430c96f9dc98b3dfed4c7
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
OPENROUTER_API_KEY=sk-or-v1-

